/*  Header Styles */

header {
   height: 54px;
   width: 100%;
   z-index: 99999;
   background: url(../images/k-opacity-70.png);

   position: fixed;
   top: 0;
   left: 0;
}
header.static {
   background: #232629;
   position: static;
}

/* header logo */
header .logo {
   position: relative;
   height: 54px;
   width: 150px;
   float: left;
}
header .logout {
	 
   position: absolute;
  left: 660px;
   top: 16px;
}
header .logo a {
   display: block;
   padding: 0;
   margin: 0;
   height: 18px;
   width: 91px;
   line-height: 18px;

   position: absolute;
   left: 12px;
   top: 16px;
}

/* primary navigation */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 13px opensans-regular, sans-serif;
   float: left;
}

/* hide toggle button */
#nav-wrap > a { display: none; }

ul#nav {
   min-height: 54px;
   width: auto;
	color: #92a8d1;
   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 54px;
color: #92a8d1;
   display: inline-block;
}
ul#nav > li.active a {
   background: #11ABB0;
   color: #fff !important;
}

/* Links */
ul#nav li a {
   display: block;
   padding: 0 14px;
   line-height: 54px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li:hover > a,
ul#nav li.active a { color: #11ABB0; }


/* Intro Section*/

#intro {
   background: #111 url(../images/intro-bg.jpg) no-repeat center;
   overflow: hidden;
}



/* FlexSlider Intro Slider Styles */

.slides {
   max-height: 660px;
   overflow: hidden;
}
.slider-text {
	color: #737E8C;
   text-align: left;
   width: 85%;
   margin: 156px auto 66px auto;
  animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.slider-text h2 {
   font: 56px/78px montserrat-regular, Sans-serif;
   color: #fff;
   text-shadow: 0px 1px 5px rgba(50, 50, 50, .5);
   padding: 0;
   margin: 0;
}
.slider-text h2 span,
.slider-text a { color: #11ABB0; }

.slider-text p {
   font: 17px/36px opensans-light, sans-serif;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
   padding: 0;
   margin: 18px 10% 0;
}

/*footer*/

footer {
   margin-top: 30px;
   margin-bottom: 30px;
   color: #303030;
   font-size: 14px;
}
footer a, footer a:visited { color: #0B686B; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}